
<div class="form-container">
   <%= form_for :session, url: sessions_path do |f| %>
      <div class="form-input">
         <%= f.label "Username:" %>
         <%= f.text_field :username %> <br>
         </div>

         <div class="form-input">
         <%= f.label "Password:" %>
         <%= f.text_field :password %> <br>
      </div>

      <%= f.submit class: 'form-btn' %>
   <% end %>
</div>