<div class="user-header">
  <h1><%= @user.username %></h1>
</div>


<div class="user-info-container">
  <h5 class="user-info-header">Personal Info:</h5>

  <p class="user-name"><b>Name:</b> <%= @user.name %></p>
  <p class="user-age"><b>Age:</b> <%= @user.age %></p>
</div>

<div class="profile-edit">
  <p class="edit-link"><%= link_to "Edit profile information!", edit_user_path(@user) %></p>
</div>

<div class="favorites-container">
   <h5 class="favorites-header">Favorites Artists:</h5>
   <ul>
       <% @user.artists.each do |artist| %>
         <li><%= link_to artist.name, artist_path(artist) %></li>
       <% end %>
   </ul>
</div>



