<h1>JUNITY</h1>

<h3>Let's jam, together!  --------   <%= link_to 'Click here to see all artists!', artists_path %></h3>

<div>
   <p><strong>Upcoming events:</strong></p>

   <% @events.each do |event| %>
      <div style='border: double green' >
         <p>Date --> <i><%= event.date %></i></p>
         <p>Time --> <i><%= event.time %></i></p>
         <p><img src=<%= event.venue.img_url %> alt="picture of venue" height=200px width=200px> <%= event.artist.name %> @ <%= link_to event.venue.name, event_path(event) %> </p>
      </div>
   <% end %>
</div>




