<!DOCTYPE html>
<html>
  <head>
    <title>Junity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="nav-bar">
      <ul class="nav-list">
        <li class="nav-tabs logo"><%= link_to "Junify", home_path %></li>
        <li class="nav-tabs first-tab"><%= link_to "Sign up", new_user_path %></li>
        <li class="nav-tabs"><%= link_to "Artists", artists_path %></li>
        <li class="nav-tabs"><%= link_to "Venues", venues_path %></li>
        <li class="nav-tabs right"><%= link_to "Sign in", new_user_path %></li>
      </ul>
    </div>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
